# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build/
kernel.sqlite
*.bmp
*.png
*.jpg
*.flam3
assets/custom_flames
assets/extern
assets/flames
assets/flames_all
assets/flames_test
assets/fonts

.vscode/
.bin/
bin/
*.swp

assets/kernels/flame_*
prof.*
render/
imgui.ini
*.sqlite3
scripts/
testrender/
refrakt-qt/
webapp/
*.mp4
*.h264